<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <logger name="com.vmware.vchs" level="DEBUG"/>
    <property name="LOG_PATH" value="${LOG_PATH:-${LOG_TEMP:-log}/}"/>
    <property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH}test.log}"/>
    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${PID:- } --- [%t] %-40.40logger{39} : %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%rEx}"/>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
        <file>${LOG_FILE}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${LOG_FILE}.%i</fileNamePattern>
        </rollingPolicy>
        <triggeringPolicy
                class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>10MB</MaxFileSize>
        </triggeringPolicy>
    </appender>

    <appender name="SIFT" class="ch.qos.logback.classic.sift.SiftingAppender">
        <filter class="com.vmware.vchs.logback.MDCBasedSkipFilter">
            <key>testcase</key>
            <value>unknown</value>
        </filter>
        <discriminator class="ch.qos.logback.classic.sift.MDCBasedDiscriminator">
            <key>testcase</key>
            <defaultValue>unknown</defaultValue>
        </discriminator>
        <sift>
            <appender name="FILE-${testcase}" class="ch.qos.logback.core.FileAppender">
                <file>${LOG_PATH}${testcase}.log</file>
                <encoder>
                    <pattern>${LOG_PATTERN}</pattern>
                </encoder>
            </appender>
        </sift>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
        <appender-ref ref="SIFT" />
    </root>
</configuration>